<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Registration</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form th:action="@{/register}" method="post" th:object="${student}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"><br><br>
        <p
            class="text-danger" 
            th:errors = "*{name}"
            th:if="${#fields.hasErrors('name')}"
        ></p>


        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" th:field="*{surname}"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}"><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" th:field="*{age}"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}"><br><br>
        
        <label for="birthday">Password:</label>
        <input type="date" id="birthday" name="birthday" th:field="*{birthday}"><br><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" th:field="*{gender}">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>
        
        <label for="group">Group:</label>
        <select id="group" name="group" th:field="*{group}">
            <option th:each="g : ${groups}" th:value="${g}" th:text="${g}">
        </select><br><br>

        <label for="married">Married?</label>
        <input type="checkbox" id="married" th:field="*{married}" /><br/>
 
        <label for="note">Note:</label>
        <textarea id="note" rows="5" cols="25" th:field="*{note}"></textarea>
        <br/>

        <input type="submit" value="Register">
    </form>
</body>
</html>