<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me page!</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        input[type="text"] {
            padding: 10px;
            margin-bottom: 10px;
            width: 200px;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body> 

    <h3>About lapa!</h3>

    <h3 th:text="'Sveiks, tevi sauc - ' + ${param.name}"></h3>
    <p th:text="'Tavs vecums ir: ' + ${param.age}"></p>
</body>
</html>